*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-purple:#691883;	
    --very-light-color:#fbeeff;
    --red-color:maroon;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
}

.container{
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.title h1{
    color: var(--dark-purple);
    margin-bottom: 10px;
    text-align: center;
}

.title{
    border-bottom: 2px solid var(--dark-purple);
}

.form{
    margin-top: 20px;
}

.form .row{
    margin-bottom: 15px;
}

.form .row:last-child{
    margin-top: 10px;
}

.form .row label,input{
    display: block;
    width: 100%;
}

.form .row label{
    font-weight: bold;
    margin-bottom: 5px;
}
.form .row input{
    padding: 10px 5px;
    border:1px solid var(--dark-purple);
    border-radius: 5px;
}

.form .row input:focus{
    outline: none;
}

.form .row button{
    padding: .7em 1.3em;
    border-radius:50px;
    border:2px solid var(--dark-purple);
    text-transform: uppercase;
    transition: all 0.5s;
}

.form .row [type=submit]{
    border-color: var(--dark-purple);
    color:var(--dark-purple);  
}

.form .row [type=submit]:hover{
    background-color: var(--dark-purple);
    color: var(--very-light-color);
}

.form .row [type=reset]{
    background-color: var(--very-light-color);
    border-color: var(--red-color);
    color: var(--red-color);  
}

.form .row [type=reset]:hover{
    border: 2px solid var(--red-color);
    background-color: var(--red-color);
    color: var(--very-light-color);
}

.account{
    margin-top: 10px;
}

.account a{
    text-decoration: none;
}