*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark-purple:#691883;	
    --medium-purple-color:#b148d2;    
    --light-purple-color:#e79aff;
    --light-color:#f3ccff;
    --very-light-color:#fbeeff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:var(--medium-purple-color);
    min-height: 100vh;
    padding: 50px 0;
}

.container{
    background-color: white;
    padding: 2em;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
}

.title h1{
    color: var(--dark-purple);
    margin-bottom: 1em;
    text-align: center;
}

.form .row{
    padding: 5px 0;
}

.form .row:last-child{
    margin-top: 10px;
}

.form .row label,input{
    display: block;
    width: 100%;
}

.form .row label{
    font-weight: bold;
    margin-bottom: 5px;
}
.form .row input{
    padding: 5px;
}

.form .row input:focus{
    outline: none;
}

.form .row button{
    padding: .7em 1.3em;
    border-radius:50px;
    border:2px solid var(--dark-purple);
    text-transform: uppercase;
    transition: all 0.2s;
}

.form .row [type=submit]{
    background-color: var(--dark-purple);
    color: white;  
}

.form .row [type=submit]:hover{
    border: 2px solid var(--dark-purple);
    background-color: var(--very-light-color);
    color: var(--dark-purple);
}

.form .row [type=reset]{
    background-color: var(--very-light-color);
    color: var(--dark-purple);  
}

.form .row [type=reset]:hover{
    border: 2px solid var(--very-light-color);
    background-color: var(--dark-purple);
    color: var(--very-light-color);
}

.account{
    margin-top: 10px;
}

.account a{
    text-decoration: none;
}